<h1>Новый пользователь</h1>

<%= form_with url: users_path, data: {remote: false} do %>
  <div>
    <%= label_tag 'name', 'Имя' %>
    <%= text_field_tag 'name', params[:name], placeholder: 'Вася' %>
  </div>

  <div>
    <%= label_tag 'surname', 'Фамилия' %>
    <%= text_field_tag 'surname', params[:surname], placeholder: 'Пупкин' %>
  </div>

  <div>
    <%= label_tag 'age', 'Возраст' %>
    <%= text_field_tag 'age', params[:age], placeholder: '33' %>
  </div>

  <div>
    <%= label_tag 'city', 'Город' %>
    <%= text_field_tag 'city', params[:city], placeholder: 'Москва' %>
  </div>

  <%= submit_tag 'Создать!' %>
<% end %>