<h1 class="main-title">
  Новый пользователь
</h1>

<%= form_with url: users_path, data: {remote: false} do %>
  <div class="form-group row">
    <div class="col-3">
      <%= label_tag 'name', 'Имя', class: 'custom-label' %>
    </div>

    <div class="col-9">
      <%= text_field_tag 'name', params[:name], placeholder: 'Кевин', class: 'custom-input' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-3">
      <%= label_tag 'surname', 'Фамилия', class: 'custom-label' %>
    </div>

    <div class="col-9">
      <%= text_field_tag 'surname', params[:surname], placeholder: 'Митник', class: 'custom-input' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-3">
      <%= label_tag 'age', 'Возраст', class: 'custom-label' %>
    </div>

    <div class="col-9">
      <%= text_field_tag 'age', params[:age], placeholder: '33', class: 'custom-input' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-3">
      <%= label_tag 'city', 'Город', class: 'custom-label' %>
    </div>

    <div class="col-9">
      <%= text_field_tag 'city', params[:city], placeholder: 'Москва', class: 'custom-input' %>
    </div>
  </div>

  <%= submit_tag 'Создать!', class: 'btn btn-primary btn-block mt-4' %>
<% end %>